body{
    margin: 0;
    font-family: sans-serif;
}

.app{
    min-height: 100vh;
    padding: 20px;
    text-align: center;
    transition: background 0.4s;
}

h1{
    font-size: 3.2em;
    line-height: 1.1;
}

/*Temas*/

.app.claro{
    background: rgb(237, 227, 227);
    color: #000;
}

.app.oscuro{
    background: #1e1e1e;
    color: #fff;
}

.app.claro button{
    background: #11ff;
    color: white;
}

.app.claro button:hover{
    background: skyblue;
}

.app.oscuro button{
    background: #444;
    color: white;
}

.app.oscuro button:hover{
    background: #666;
}

.app.claro input{
    background: white;
    color: #000;
    border: 1px solid #ccc
}

.app.oscuro input{
    background: #333;
    color: white;
    border: 1px solid #777
}

button{
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.4s;
}

.card{
    background: rgb(255, 255, 255,0.2);
    padding:  20px;
    margin: 20px auto;
    border-radius: 15px;
    width: 500px;
}

.forecast{
    display: flex;
    justify-content: center;
    gap:10px;
}

.forecast-day{
    background: rgb(255, 255, 255,0.2);
    padding: 10px;
    border-radius: 10px;
}

.loader{
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: blue;
    border-radius: 50%;
    margin: 20px auto;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to{
        transform: rotate(360deg);
    }
}

.fade-in{
    animation: fadeIn 0.6s ease forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

